html {
    scroll-behavior: smooth;
}
:root {
    --orange:#f7802e;
    --gray:#191919
}
*{
    transition: 350ms all;
}
a{
    word-wrap: break-word;
}
.g{
    color:var(--gray);
}
.bgb{
    background-color: black;
}
.bgg{
    background-color: var(--gray);
}
.bgo{
    background-color: var(--orange);
}
.w, .o a{
color:white;
}
.o, .w a{
    color:var(--orange);
}
.c{
text-align:center
}
h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
h1,h5{
    font-size:70px;
    color:var(--orange);
}
@media screen and (max-width:700px){
    h1,h5{
        font-size:50px;
    }
}
h5,h6,h7,h8{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
p{
    font-size:18px;
    margin-top:10px;
    margin-bottom: 10px;
}
html,body,span,p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.container{
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.fullbg{
    background-size:cover;
    background-position: center;
}
.full {
    width: 100vw;
    height: 100vh;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fixed{
    background-attachment: fixed;
}
@media screen and (max-width:768px){
    .fixed{
        background-attachment: scroll;
    }
}
.orangegrad{
    background:linear-gradient(360deg, rgba(0,0,0,.4), rgba(247,128,46,.4))
}
body{
    background-color: black;
    color:white
}
.topbox{
    width:80vw;
    text-align: left;
}
.innertop{
    width:30vw;
    padding: 3vw;
}
#grad h1{
    display: none;
}
@media screen and (max-width:1400px){
    .innertop{
        width:50vw;
    }
}

@media screen and (max-width:850px) {
    #bigtext h1{
        display: none;
    }
    #grad h1{
        display:block;
    }
    #homebg,#grad{
        height:50vh;
        width:100vw;
    }
    #bigtext{
        width:auto;
        height:auto;
        position: relative !important;
        padding: 5vw;
        background-color:#262626 !important;
    }
    .innertop{
        background-color:#262626 !important;
        color:white !important;
    }
    .innertop,.topbox{
        width:100%;
    }
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.icon {
    font-size: 40px;
    padding: 40px;
    color: var(--orange);
    min-width: 140px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .icon {
        padding: 25px;
        min-width: 100px;
    }
}

.col-md {
    margin-bottom: 20px;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 10ms;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.minhalf {
    min-height: 70vh;
}

.form-control {
    border-radius: 2px;
    background-color: var(--gray);
    border: 1px #353535 solid;
    transition: 350ms all;
    color:white !important;
}

.form-control:focus {
    border: 3px;
    border-radius: 5px;
    border-color: var(--orange) !important;
    background-color: var(--gray);
}
.sponsorimage{
    max-height:115px;
    max-width:100%;
    padding:20px;
}
/* BUTTON */
@font-face {
    font-family: 'icomoon';
    src:url('/assets/fonts/icomoon/icomoon.eot');
    src:url('/assets/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon/icomoon.woff') format('woff'),
    url('/assets/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('/assets/fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 30px;
    margin-top:10px;
    margin-bottom: 10px;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
/* Button 3 */
.btn-3 {
    background: var(--orange);
    color: #fff;
}

.btn-3:hover {
    background: #f29e0d;
}

.btn-3:active {
    background: #f58500;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: -8px;
    line-height: 3;
    font-size: 140%;
    width: 40px;
}
/* Button 3e */
.btn-3e {
    padding: 15px 100px 15px 40px;
    overflow: hidden;
}

.btn-3e:before {
    left: auto;
    right: 10px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 40%;
}
.icon-arrow-right:before {
    content: "\e00d";
}
footer{
    background-color: #262626;
    text-align: center;
    padding:5vh;
    color:white;
}
footer .container{
    padding:0;
}
footer a{
    margin-left:20px;
    margin-right:20px;
    color:white;
    transition: 100ms;
}
footer p{
    margin-top:20px;
}
.fa-facebook-f:hover{
    color:#3b5998 !important;
}

.fa-instagram:hover{
    color: #fb3958 !important;
}

.bio{
    padding:0px;
    background: #262626;
    border:#353535 1px solid;
    margin:20px;
    max-width:300px !important;
    margin-left:auto;
    margin-right: auto;
}
.bio img{
    width:100%;
}
.bio div{
    padding:20px;
}
.bio a{
    transform: scale(0.7);
    margin-left:-30px !important;
    margin-top:-10px;
}